<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/create.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="outer">
      <h1>Create QR</h1>
      <div class="details">
        <form action="" method="POST">
          <label for="Name">Name</label>
          <input type="text" name="Name" id="Name" required />
          <label for="About">About</label>
          <input type="text" name="About" id="About" required />
          <label for="Vaccination" style="margin-left: 46px">Vaccination</label>
          <!-- <input type="text" name="Vaccination" id="Vaccination"  required> -->
          <textarea
            id="Vaccination"
            style="font-size: 13px; margin-top: 5px; width: 90%"
            name="Vaccination"
            rows="5"
            placeholder="Enter vaccinations details in text area"
          ></textarea>
          <button type="submit" class="button">Generate QR</button>
        </form>
        {%if error%}
        <div class="error">
          <h3>{{error}}</h3>
        </div>
        {%endif %} {%if success%}
        <div class="success">
          <a
            href="{{ url_for('download_file', filename=unique_id+'.png') }}"
            download
            >{{success}}</a
          >
        </div>
        {%endif %}
      </div>
    </div>
    <footer>
      <div class="foot">
        <div class="social-media">
          <a
            href="https://www.facebook.com/profile.php?id=61557493894451&mibextid=LQQJ4d"
            target="blank"
            ><img src="/static/images/facebook1.png" alt="Facebook"
          /></a>
          <a href="https://x.com/houndhub74?s=21" target="blank"
            ><img src="/static/images/twitter.png" alt="Twitter"
          /></a>
          <a
            href="https://www.instagram.com/houndhubs?igsh=cHRqemNpMm40NXk5&utm_source=qr"
            target="blank"
            ><img src="/static/images/instagram1.png" alt="Instagram"
          /></a>
        </div>
        <div class="contact-info">
          <p>Contact us: houndhub74@gmail.com</p>
          <p>Phone: +1234567890</p>
        </div>
      </div>
    </footer>
  </body>
</html>
